<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/navbar.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script src="../static/navbar.js"></script>
  <script>

    $(document).ready(function () {
          validate_user()
    });

    function edit_post() {
      var edited_title = $("#post-title").val();
      var edited_dtl = $("#post-dtl").val();
      var idx = $("#post_idx").val();

      $.ajax({
        type: "POST",
        url: "/edit/" + idx,
        data: { 'edited_title': edited_title, 'edited_dtl': edited_dtl },
        success: function (response) { // 성공하면
          if (response["result"] == "success") {
            alert("글 수정 성공!");
            location.href = '/';
          } else {
            alert("잘못된 접근입니다.");
            location.herf = "/";
          }
        }
      })
    }

    function create_post() {
      var input_title = $("#post-title").val();
      var input_dtl = $("#post-dtl").val();

      $.ajax({
        type: "POST",
        url: "/post",
        data: { 'input_title': input_title, 'input_dtl': input_dtl },
        success: function (response) { // 성공하면
          if (response["result"] == "success") {
            alert("글 생성 성공!");
            location.replace("/");
          } else {
            alert("로그인이 필요합니다.");
            location.replace("/login");
          }
        }
      })
    }

  </script>
  <style>
    .post_button {
      background-color: #00C73C;
      border: none;
      color: white;
    }
  </style>
  <title>krafton09</title>
</head>

<body>
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">KRAFTON09</a>
      <div id="log-info" class="log-info d-flex me-3">
        <button id="login-button" class="login-button border" onclick="location.href='/login'">로그인</button>
      </div>
    </div>
  </nav>

  <div class="container my-3">
    {% if post.idx %}
    <h2>글수정</h2>
    {% else %}
    <h2>공구 글쓰기</h2>
    {% endif %}
    <hr>
    <div>
      <input type="hidden" value="{{ post.idx }}" id="post_idx">
      <div class="mb-3">
        <input type="text" value="{{ post.title }}" class="form-control" id="post-title" placeholder="제목을 입력해 주세요.">
      </div>
      <div class="mb-3">
        <textarea class="form-control" id="post-dtl" rows="15"
          placeholder="내용을 입력해 주세요.">{{post.description}}</textarea>
      </div>

      {% if post.idx %}
      <div class="d-grid gap-2 ">
        <button class="post_button py-1" type="button" onclick=edit_post()>글수정</button>
      </div>
      {% else %}
      <div class="d-grid gap-2 ">
        <button class="post_button py-1" type="button" onclick=create_post()>글쓰기</button>
      </div>
      {% endif %}
    </div>
  </div>
</body>

</html>